.Achive-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 120px 0px;
    font-size: 30px;
    font-weight: 900;
    
}
@media(max-width: 800px){
    .Achive-header{
        padding: 120px 0px 60px 0px;
    }
}
.Achive-list{
    align-items: flex-start;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 120px;
    position: relative;
}
@media(max-width: 800px){
    .Achive-list{
        padding: 15px 15px 90px 15px;
    }
}
.Achive-text{
    font-weight: 700;
}