$white : #ffff;

.Detail-0{
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 112px 64px;
    position: relative;
}

.Detail-0-container{
    align-items: center;
    display: flex;
    gap: 80px;
    position: relative;
}

.Detail-0-content{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.Detail-0-content-text-header{
    font-weight: 700;
    font-size: 32px;
}

.Detail-0-content-text-alert{
    font-weight: bold;
}

.Detail-0-robot{
    height: 640px;
}

/* Detail-1 start */

.Detail-1-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Detail-1{
    background-color: white;
    display: grid;
    gap: 15px;
    padding: 30px 0px;
    position: relative;
    grid-template-columns: 660px 660px;
    grid-template-rows: 1fr 1fr;

}

.Detail-1-content{
    background-color: #f4f4f6;
    gap: 40px;
    padding: 39px 34px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

.Detail-1-content-text-header{
    font-size: 24px;
    font-weight: 900;
}
