.Dropdown {
    align-items: flex-start;
    display: flex;
    gap: 32px;
    padding: 32px 32px 32px 64px;
    position: absolute; 
    width: calc(100% - 96px);
    background-color: white;
    z-index: 1;
    top: 73px;
}

.rocket{
    height: 24px;
    width: 24px;
}

.Menu-List{
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.List{
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.List-item{
    align-items: flex-start;
    display: flex;
    gap: 12px;
    height: 61px;
    padding:8px 0px;
    position: relative;
    width: 312px;
}

.List-title{
    font-weight: 600;
    font-size: small;
}

.content-text-title{
    font-weight: 600;
    font-size: medium;
}

.content-text-sub{
    font-weight: 400;
    font-size: small;
}