.Dropdown {
    align-items: flex-start;
    display: flex;
    gap: 32px;
    padding: 32px 32px 32px 64px;
    width: calc(100% - 96px);
    background-color: white;
    z-index: 1;
    top: 72px;
    left: 0px;
    position: absolute;
    border-top-style: solid;
    border-top-width: 1px;
}

.rocket{
    height: 24px;
    width: 24px;
}

.Menu-List{
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.List{
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.List-item{
    align-items: flex-start;
    display: flex;
    gap: 12px;
    height: 61px;
    padding:8px 0px;
    position: relative;
    width: 312px;
    text-decoration: none;
    color: black;
}

.List-title{
    font-weight: 600;
    font-size: small;
}

.content-text-title{
    font-weight: 600;
    font-size: medium;
}

.content-text-sub{
    font-weight: 400;
    font-size: small;
}

/* Dropdown-Mobile scss start */

.Dropdown-Mobile{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 20px 20px 20px;
    position: relative;
    width: calc(100% - 40px);
}

.M-contents-wrapper{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.text{
    align-items: flex-start;
    display: flex;
    gap: 8px;
    padding: 12px 0px;
    position: relative;
    text-decoration: none;
}

.ProgramInfo-wrapper{
    width: 100%;
}

.M-Click-area{
    align-items: flex-start;
    display: flex;
    gap: 8px;
    padding: 12px 0px;
    position: relative;
    width: 100%;

    justify-content: space-between;
}

.M-menu{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 24px;
    padding: 16px 0px;
}

.M-menu-list{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.M-sub-list{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.MList-ccontent-wrapper{
    align-items: flex-start;
    display: flex;
    gap: 12px;
    height: 40px;
    padding: 8px 0px;
    position: relative;
    width: 100%;
}

.M-Actions{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px 0px;
    position: relative;
    width: 100%;
    justify-content: center;
    background-color: black;
    color: white;
}