/* Footer */

.Footer{
    align-items: flex-start;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 64px 64px;
    position: relative;
}

.end{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    width: 100%;
}

.divider{
    background-color: black;
    border: 1px solid;
    border-color: black;
    height: 1px;
    position: relative;
    width: 100%;
}

.Footer-row{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
