/* 
    nesting 예시
    div.container{
    h4{
        color
    }

    p{
        color
    }

    @extend => 복붙하지 말고

    함수는
    @mixin function{
    }
    사용은
    @include function()

    변수 저장은
    $main : #ff;
*/

/* Home scss start */

.Home{
    align-items: center;
    background-color: #00000080;
    display: flex;
    height: 900px;
    padding: 0px 120px;
    position: relative;
    color: white;
}
@media(max-width: 800px){
    .Home{
        padding: 0px 20px;
    }
}
.Home-container{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    width: 560px;
}
.Home-content{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}
.Home-text-main{
    font-weight: 900;
}
.Home-text-sub{
    font-weight: 500;
}

.Home-action{
    align-items: flex-start;
    display: inline-flex;
    gap: 16px;
    position: relative;
}

.Home-admission{
    background-color: white;
    border-color: white;
    border: 1px solid;
    color: black;
    padding: 12px 24px;
}

.Home-detail-link{
    border-color: white;
    color: white;
    text-decoration: none;
    border: 1px solid;
    padding: 12px 24px;
}

/* Home scss complete */

/* Home-1 scss start */

.Home-1{
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 112px 64px;
    position: relative;
    height: auto;

}
@media(max-width: 800px){
    .Home-1{
        gap: 48px;
        padding: 64px 20px;
        position: relative;
    }
}

.Home-1-container{
    align-items: center;
    display: flex;
    gap: 120px;
    position: relative;
}
@media(max-width: 800px){
    .Home-1-container{
        flex-direction: column;
        gap: 48px;
        position: relative;
    }
}
.Home-1-content{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.Home1-text-main{
    font-weight: 800;
}
.Home1-text-sub{
    font-weight: 500;
}


.Home-1-pic{
    height: 640px;
    width: 616px;
}
@media(max-width: 800px){
    .Home-1-pic{
        height: 100%; 
        width: 100%;   
    }
}
/* Home-1 scss complete */

/* Home-2 scss start */

.Home-2{
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 112px 64px;
    position: relative;
    height: auto;
}
@media(max-width: 800px){
    .Home-2{
        gap: 48px;
        padding: 64px 20px;
    }
}
.Home-2-wrapper-align{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 112px 0px;
    position: relative;
    height: auto;
}
@media(max-width: 800px){
    .Home-2-wrapper-align{
        align-items: center;
    }
}
.Home-2-title-wrapper{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 768px;
    /* width 주의 확인바람 */
}
@media(max-width: 800px){
    .Home-2-title-wrapper{
        width: 100%;
    }
}
.Home-2-title{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}
.text{
    font-weight: 500;
}
.Home-2-content{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 64px;
    position: relative;
}

.Home-2-Row{
    align-items: flex-start;
    display: flex;
    gap: 120px;
    justify-content: center;
    position: relative;
}
@media(max-width: 800px){
    .Home-2-Row{
        flex-direction: column;   
        gap: 48px;
    }
}
.Home-2-colimn{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.book{
    height: 48px;
    width: 48px;
}

.Home-2-action{
    align-items: center;
    display: inline-flex;
    gap: 24px;
    position: relative;
}
@media(max-width: 800px){
    .Home-2-action{
        width: 100%;
    }
}
.Home-2-detail-link{
    border: 1.5px solid;
    border-color: black;
    color: black;
    padding: 12px 24px;
    position: relative;
    text-decoration: none;
}
.Home-2-admission-wrapper{
    align-items: center;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    position: relative;
}

.right{
    height: 24px;
    width: 24px;
}
/* Home-2 scss complete */


/* Home-3 scss start */
.up-icon{
    height: 32px;
    width: 32px;
}

.FAQ-title-header{
    font-weight: bold;
    
}

.FAQ-title-text{
    font-weight: 500;
}

.Home-FAQ{
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 112px 64px;
    position: relative;

}
@media(max-width: 800px){
    .Home-FAQ{
        gap: 48px;
        padding: 64px 20px;
    }
}
.FAQ-container{
    align-items: flex-start;
    display: flex;
    gap: 80px;
    position: relative;
}
@media(max-width: 800px){
    .FAQ-container{
        gap: 48px;
        flex-direction: column;
    }
}
.FAQ-title-wrapper{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    width: 500px;
    /* width 주의 확인바람 */
}
@media(max-width: 800px){
    .FAQ-title-wrapper{
        width: 100%;
    }
}
.FAQ-title-list{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.Accordion-List{
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 710px;
}
@media(max-width: 800px){
    .Accordion-List{
        width: 100%;
    }
}
.Accordion-item{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.Q{
    align-items: center;
    border-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    gap: 24px;
    padding: 20px 0px;
    position: relative;
    width: 100%;
}

.Q-text{
    width: 100%;
    font-weight: bolder;
    font-size: large;
}
.A{
    align-items: flex-start;
    display: flex;
    padding: 0px 0px 24px;
    position: relative;
}
/* Home-3 scss complete */
