/* 
    nesting 예시
    div.container{
    h4{
        color
    }

    p{
        color
    }

    @extend => 복붙하지 말고

    함수는
    @mixin function{
    }
    사용은
    @include function()

    변수 저장은
    $main : #ff;
*/
/* Navbar scss start */
.logo{
    color : black;
    height: 22px;
    position: relative;
    width: 63px;
}

.Nav-wrapper {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    height: 72px;
    justify-content: space-between;
    padding: 0px 64px;
    position: relative;
}

.content {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
}

.nav-wrapper .logo {
    height: 22px;
    position: relative;
    width: 63px;
}
  
.text-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 32px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.Nav-Dropdown{
    height: 24px;
    width: 24px;
    position: relative;
}

.Dropdown-wrapper{
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    justify-content: center;
    position: relative;
    
}
.Click-area{
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    position: relative;
    cursor: pointer;
}

.Actions{
    width: 99px;
    height: 40px;
    align-items: center;
    display: inline-flex;
    gap: 16px;
    justify-content: center;
    position: relative;
    background-color: black;
    color: white;
}

.rocket{
    height: 24px;
    width: 24px;
}

.Menu-List{
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.List{
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.List-item{
    align-items: flex-start;
    display: flex;
    gap: 12px;
    height: 61px;
    padding:8px 0px;
    position: relative;
    width: 312px;
}

.List-title{
    font-weight: 600;
    font-size: small;
}

.content-text-title{
    font-weight: 600;
    font-size: medium;
}

.content-text-sub{
    font-weight: 400;
    font-size: small;
}
/* Navbar scss animate and overlay */
.Nav-bar{
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;
}
.Dropdown {
    align-items: flex-start;
    display: flex;
    gap: 32px;
    padding: 32px 32px 32px 64px;
    position: absolute; 
    width: calc(100% - 96px);
    background-color: white;
    z-index: 1;
    top: 73px;
}



/* Navbar scss complete */

/* Home scss start */
.Home{
    align-items: center;
    background-color: #00000080;
    display: flex;
    height: 900px;
    padding: 0px 120px;
    position: relative;
    color: white;
}
.Home-container{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    width: 560px;
}
.Home-content{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}
.Home-text-main{
    font-weight: 900;
}
.Home-text-sub{
    font-weight: 500;
}

.Home-action{
    align-items: flex-start;
    display: inline-flex;
    gap: 16px;
    position: relative;
}

/* Home scss complete */

/* Home-1 scss start */

.Home-1{
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 112px 64px;
    position: relative;
    height: auto;

}

.Home-1-container{
    align-items: center;
    display: flex;
    gap: 120px;
    position: relative;
}

.Home-1-content{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.Home1-text-main{
    font-weight: 800;
}
.Home1-text-sub{
    font-weight: 500;
}


.Home-1-pic{
    height: 640px;
    width: 616px;
}
/* Home-1 scss complete */

/* Home-2 scss start */


/* Home-2 scss complete */