/* Navbar scss start */
.logo{
    color : black;
    height: 22px;
    position: relative;
    width: 63px;
}

.Nav-wrapper {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    height: 72px;
    justify-content: space-between;
    padding: 0px 64px;
    position: relative;
}

.content {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
}

.nav-wrapper .logo {
    height: 22px;
    position: relative;
    width: 63px;
}
  
.text-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 32px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
.Link{
    text-decoration: none;
    color: black;
}

.Aboutus{
    text-decoration: none;
    color: black;
}

.Nav-Dropdown{
    height: 24px;
    width: 24px;
    position: relative;
}

.Dropdown-wrapper{
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    justify-content: center;
    position: relative;
    
}
.Click-area{
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    position: relative;
    cursor: pointer;
}

.Actions{
    width: 99px;
    height: 40px;
    align-items: center;
    display: inline-flex;
    gap: 16px;
    justify-content: center;
    position: relative;
    background-color: black;
    color: white;
}


/* Navbar scss animate and overlay */
.Nav-bar{
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;
}

/* Navbar scss complete */